{
  "email": "",
  "password": "",

  "run_at_time": "",

  "random_delay": false,
  "check_interval": 30,
  "member_interval": 5,

  "join_early_offset": 60,
  "auto_leave_after_min": 67,

  "auto_leave": true,
  "auto_leave_count": 7,
  "auto_leave_blacklist_re": "Statistics|Multivariable",

  "headless" : false,
  "mute_audio": false,
  "chrome_type": "google-chrome",
  "window_width": 1116,
  "window_height": 764,

  "blacklist_meeting_re": "Cura|Free Period",

  "join_sound": "join.mp3"
}