{
  "email": "",
  "password": "",

  "run_at_time": "",

  "random_delay": false,
  "check_interval": 20,
  "member_interval": 5,

  "join_early_offset": 60,
  "auto_leave_after_min": 66,
  "leave_if_last": true,
  "leave_if_last_count": 5,

  "headless" : false,
  "mute_audio": false,
  "chrome_type": "google-chrome",

  "blacklist_meeting_re": "Cura|Free Period"
}
