{
  "email": "",
  "password": "",

  "run_at_time": "",

  "meeting_mode": 3,
  "organisation_num" : 1,
  "random_delay": false,
  "check_interval": 15,

  "join_early_offset": 60,
  "auto_leave_after_min": 66,
  "leave_if_last": true,
  "leave_if_last_count": 5,

  "headless" : false,
  "mute_audio": false,
  "chrome_type": "google-chrome",

  "blacklist": [
    {
      "team_name": "Example Team 1",
      "channel_names": [
        "First Channel to blacklist in this team",
        "Second Channel to blacklist"
      ]
    },
     {
      "team_name": "Blacklist whole team",
      "channel_names": [
      ]
    }
  ],
  "blacklist_meeting_re": "Cura|Free Period"
}
